
/* RESET GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee8e8;
    border: none;
    border-radius: 7px;
}

body{
    height: 100vh;
    background: url("../background.jpg") center no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}
input:focus{
    outline: none;
}

a{
    font-size: .8rem;
}

a:hover{
    color: #08558b;
}

/* CONTAINER LOGIN */

#login-container{
    background-color: #0000006f;
    width: 25rem;
    padding: 1.25rem 1.8rem;
    border-radius: 10px;
    text-align: center;
}

/* ÁREA DO FORMULÁRIO */

label, input{
        display: block;
        width: 100%;
        text-align: left;
}

label{
    font-weight: bold;
    font-size: .8rem;
}

input{
    border-bottom: 2px solid #e7dddd;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus{
    border-bottom: 2px solid #08558b;
}

#forgot-pass{
    text-align: right;
    display: block;
}

input[type="submit"]{
    background-color: #08558b;
    text-align: center;
    color: #fff;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
}

